body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  color: #fff;
}
h1 {
  padding-bottom: 30px;
  font-weight: 900;
  font-size: 35px;
}
.textoFormulario {
  width: 30%;
  position: relative;
  height: 60px;
  overflow: hidden;
}

.textoFormulario input {
  width: 100%;
  height: 100%;
  color: #fff;
  padding-top: 20px;
  border: none;
  background-color: black;
}
.textoFormulario label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid white;
}
.textoFormulario label::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid blue;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-bottom: 5px;
  transition: all 0.3s ease;
}
.textoFormulario input:focus {
  outline: none;
}
.textoFormulario input:focus + .label-name .content-name,
.textoFormulario input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  left: 0px;
  color: blue;
}
.textoFormulario input:focus + .label-name::after,
.textoFormulario input:valid + .label-name::after {
  transform: translateX(0%);
}

input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid blue;
  outline-offset: max(2px, 0.15em);
}

.textoFormulario-control:focus-within {
  color: black;
}
.genero{
  background-color: black;
  width: 30%;
  justify-content: left;
}

.fecha{
  margin-top: 15px;
  width: 30%;
  height: 2em;
  background: lightgrey;
}

input[type="checkbox"] {
  /* ...existing styles */
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}
